@page
@model ProductAppUI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3  
                        class="text-center">
                        Login
                    </h3>
                </div>
                <div class="card-body">

                    <form method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text"  
                                   id="username" name="Username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="Password"  
                                   class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary  
 w-100">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ErrorMessage != null)
{
    <p style="color:red">@Model.ErrorMessage</p>
}
